$font-size = 20px
//$background: #6f13a9;
$background = #764ABC;
//$yellow = #ffc600;

$red = #e50914;
//$background = #303449;
//$background = linear-gradient(to right, #524763 0%, #373142 100%)
//background: linear-gradient(141deg, #3690ff 0%, #8383ff 100%);
$redbutton = #cc0812;
$redstar = #e50914;

$blackText = #383f4d;
$darkBlackText = #262626;

// --purp: #524763;
// --darkpurp: #373142;