.legal__faq {
    padding: 4% 1%;
    background: #141414;
    color: #fff;
    // background-image: url("http://res.cloudinary.com/dlmeqtsfq/image/upload/v1530886992/Drive/pattern-2.png");
    // background-size: 70px, auto;
    //color: #FDFDFD;
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        // h2 {
        //     color: #fff;
        // }
        .faqs {
            display: grid;
            grid-template-rows: auto;
            justify-content: center;
            grid-gap: 20px;
            .faq {
                //border-left: 2px solid $redstar;
                max-width: 700px;
                padding: 20px;
                border-left: 2px solid #e50914;
                // background: #fff;
                // box-shadow: 0 0 2px 5px rgba(0,0,0,0.05);
                h3 {
                    margin: 0 0 1rem;
                    font-size: 2rem;
                    //border-bottom: 2px solid #e50914;
                    //border-bottom: 2px solid $red;
                    font-weight: bold;
                }
                p {
                    margin: 0;
                    line-height: 1.5;
                }
                .hl {
                    font-weight: bold;
                    color: #e50914;
                }
            }
        }
    }
}